<!DOCTYPE html>
<html>
  <head>
    <title>Docotor Liberator</title>
    <link rel="stylesheet" href="../assets/index.css" />
    <link
      rel="icon"
      href="../constants/images/pngfind.com-medical-png-832303.png"
    />
  </head>

  <body>
    <div class="banner_component">
      <div class="navigation_container">
        <div class="logo_container">
          <img
            class="logo_png"
            src="../constants/images/pngfind.com-medical-png-832303.png"
            alt="logo"
          />
          <h1>Docotor Liberator</h1>
        </div>
        <div class="navigation">
          <ul class="nav_list">
            <li class="nav_list_child">
              <a class="who_are_we" href="#">Who are we ?</a>
            </li>
            <li class="nav_list_child">
              <a class="need_help" href="#">Need help ?</a>
            </li>
            <li class="nav_list_child">
              <a class="log_in" href="#">Log in</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="center_part">
        <h1 class="main_title">
          Book a physical or video consultation with a healthcare professional
        </h1>
        <form class="search_form" action="">
          <input
            class="form_input"
            type="text"
            placeholder="Search by doctor name, establishment, specialisation..."
          />
          <input class="form_input2" type="text" placeholder="Where ?" />
          <input class="form_input3" type="submit" value="search" />
        </form>
      </div>
    </div>
    <div class="background_component">
      <div class="pop_up_banner">
        <h3 class="pop_up_title">Informations</h3>
        <div class="_banner_grid">
          <div id="card1" class="card">
            <h4>Vaccination : online booking</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              blandit nisl vitae enim placerat placerat. Nam condimentum, ligula
              id facilisis gravida, diam tellus dapibus ante, ut varius purus
              dui et dui. Vivamus iaculis odio in blandit sodales. Mauris et
              iaculis purus. Suspendisse mattis lectus ac faucibus tristique. In
              congue lacinia dictum. Phasellus gravida, ligula vel ultrices
              ornare, urna nisi vestibulum sem, vitae pharetra tortor lorem at
              mauris.
            </p>
            <button class="book_appoint">Book an appointment</button>
          </div>
          <div id="card2" class="card">
            <h4>Vaccination : online booking</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              blandit nisl vitae enim placerat placerat. Nam condimentum, ligula
              id facilisis gravida, diam tellus dapibus ante, ut varius purus
              dui et dui. Vivamus iaculis odio in blandit sodales. Mauris et
              iaculis purus. Suspendisse mattis lectus ac faucibus tristique. In
              congue lacinia dictum. Phasellus gravida, ligula vel ultrices
              ornare, urna nisi vestibulum sem, vitae pharetra tortor lorem at
              mauris.
            </p>
            <button class="book_appoint">Book an appointment</button>
          </div>
          <div class="card">
            <h4>Vaccination : online booking</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              blandit nisl vitae enim placerat placerat. Nam condimentum, ligula
              id facilisis gravida, diam tellus dapibus ante, ut varius purus
              dui et dui. Vivamus iaculis odio in blandit sodales. Mauris et
              iaculis purus. Suspendisse mattis lectus ac faucibus tristique. In
              congue lacinia dictum. Phasellus gravida, ligula vel ultrices
              ornare, urna nisi vestibulum sem, vitae pharetra tortor lorem at
              mauris.
            </p>
            <button class="book_appoint">Book an appointment</button>
          </div>
        </div>
      </div>
      <div class="arguments_grid_block">
        <h2>Why book with Docotor Liberator ?</h2>
        <div class="arguments_grid">
          <div class="arguments_card">
            <img
              class="card_image"
              src="../constants/images/card1.png"
              alt=""
            />
            <h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              blandit nisl vitae enim placerat placerat.
            </h5>
          </div>
          <div class="arguments_card">
            <img
              class="card_image"
              src="../constants/images/card2.png"
              alt=""
            />
            <h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              blandit nisl vitae enim placerat placerat.
            </h5>
          </div>
          <div class="arguments_card">
            <img
              class="card_image"
              src="../constants/images/card3.png"
              alt=""
            />
            <h4>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              blandit nisl vitae enim placerat placerat.
            </h4>
          </div>
        </div>
      </div>
      <div class="opinion_grid_block">
        <h2>Doctor Liberator, it's...</h2>
        <div class="opinion_grid">
          <div class="opinion_grid_card" id = "opinion_grid1">
            <span class = "opinion_grid_card_bold">50 millions</span>
            patients
          </div>
          <div class="opinion_grid_card" id = "opinion_grid2">
            <span class = "opinion_grid_card_bold">150 000</span>
            Health professionnals
          </div>
          <div class="opinion_grid_card">
            <span class = "opinion_grid_card_bold">97%</span>
            Positive reviews
          </div>
        </div>
      </div>
      <div class="who_are_we_block">
        Doctor Liberator, you favorite online booking plateform since 2007.
        Find out more about us !
        <button id = "knowmore">Know more</button>
      </div>
      <br><br><br>
    </div>
  </body>
</html>
