<!DOCTYPE html>
<html>
  <head>
    <link href="../assets/signIn.css" rel="stylesheet" type="text/css" />
    <link href="../assets/warning.css" rel="stylesheet" type="text/css" />
    
  </head>
  <body class = "body">
    <header></header>
    <section>
      <div class="hero">
        <div class="background">
          <div class="signup" id="signup">
            <h1>Create Account</h1>
            <form  action="InsertDBForm" method="POST">
              <div class="omo">
                <input
                  type="firstname"
                  id="firstname"
                  name="firstname"
                  class="input-box"
                  placeholder="Your Firstname"
                  value=""
                />
              </div>
              <div class="form-group">
                <input
                  type="lastname"
                  name="lastname"
                  id="lastname"
                  class="input-box"
                  placeholder="Your Lastname"
                  value=""
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="input-box"
                  placeholder="Your Email"
                  value=""
                />
              </div>
              
              <div class="form-group">
                <input
                  type="mobile"
                  id="mobile"
                  name="mobile"
                  class="input-box"
                  placeholder="Your Mobile"
                  value=""
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="input-box"
                  placeholder="Your Password"
                  value=""
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="confirm_password"
                  id="confirmPass"
                  class="input-box"
                  placeholder="Confirm Password"
                  value=""
                />
              </div>
              <div class="form-group">
                <input
                  type="submit"
                  class="btn btn-primary"
                  value="Create Account"
                  id="sub"
                />
              </div>
              <p>Already have an account ?<a href="login.htm">Log In.</a></p>
            </form>
          </div>
        </div>
      </div>
      <a class="logo" href="index.htm" id="logo"
      ><img
        class="logo"
        src="../constants/images/pngfind.com-medical-png-832303.png"
    /></a>
    </section>
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p id="warning">Some text in the Modal..</p>
      </div>
    </div>
    <div id = "modal2" class="modal">
      <div class="modal-contentdatas">
      <span class="close">&times;</span>
    </div>
    </div>
    <div class = "datas">
    <table id = "datasTable">
     </table>
    </div>
  </body>
</html>
